<<<<<<< HEAD:tela4.css
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listas {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.container {
    display: flex;
    margin-top: 50px;
}

.videoPrincipal {
    width: 68vw;
    height: 74vh;
    margin-top: 16px;
}

.container-videos-secundarios {
    display: flex;
    flex-direction: column;
    justify-content: end;
    max-width: 350px;
    margin-left: 60px;
}

.estatisticas {
    display: flex;
    gap: 5px;
}

.barraDePesquisa {
    width: 23rem;
    padding: 5px;
    border-radius: 10px;
}

.botaobusca {
    padding: 5px;
    border-radius: 10px;
    margin-right: 340px;
=======
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}

.listas {
    display: flex;
    gap: 2rem;
    list-style: none;
    color: #fff;
}

.container {
    display: flex;
    margin-top: 50px;
    color: #fff;
    padding: 20px;

}

.videoPrincipal {
    width: 68vw;
    height: 74vh;
    margin-top: 16px;

}

.container-videos-secundarios {
    display: flex;
    flex-direction: column;
    justify-content: end;
    max-width: 350px;
    margin-left: 60px;
}

.estatisticas {
    display: flex;
    gap: 5px;
}

.barraDePesquisa {
    width: 23rem;
    padding: 5px;
    border-radius: 10px;
}

.botaobusca {
    padding: 5px;
    border-radius: 10px;
    margin-right: 340px;
}


.tamanhoDoIcones {
    height: 25px;
    width: 25px;
}

.container-videos-secundarios {
    margin-top: 16px;
}

.container-videos-secundarios p {
    margin-top: 15px;
>>>>>>> gabriel:frontend/css/tela4.css
}