.campo-pesquisa {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    border: 3px solid #9762b7;
    border-radius: 10px 10px; /* Arredondamento dos cantos */
    width: 45%; /* Tamanho do campo*/
    margin-top: 2%; /* Distancia do topo */
    
}

.cabecalho {
    width: 100%;
    margin-top: 0%;
    position: relative;
}