 .campo-foto {
    border-radius: 50%;
    background-clip: border-box; /* Corta a foto em um círculo */
    position: relative; /* Posiciona o campo-foto relativamente */
    width: 100px; /* Define a largura do campo-foto */
    height: 100px; /* Define a altura do campo-foto */
    margin-top: 220px; /* Define a altura do campo circulo */
    margin-left: 150px; /* Movimenta o circulo para a direita */
    
  }

  .campo-foto > circle {
    stroke-width: 5px; /* Aumente o valor para aumentar o diâmetro */
    /* r: 45px; /* Aumente o valor para aumentar o diâmetro */
    stroke: #9607a3; /* cor da borda */
  }

  .texto-lateral {
    position: absolute;
    left: 520px; /* Ajuste conforme necessário */
    top: 35%; /* Ajuste conforme necessário */
    transform: translateY(-50%);
    font-size: 50px; /* Tamanho da fonte */
    color: #333; /* Cor da fonte */
 }

 .texto-inferior {
  position: absolute;
  left: 520px; /* Ajuste conforme necessário */
  top: 40%; /* Ajuste conforme necessário */
  font-size: 25px; /* Tamanho da fonte */
  color: #333; /* Cor da fonte */
 }

 .linha {
  position: absolute;
  left: 150px; /* posição da linha */
  top: 420px; /* posição da linha */
  width: 1150px; /* largura da linha */
  border-top: 2px solid black;
 }

 .texto-linha {
  position: absolute;
  left: 150px; /* distancia do texto */
  top: 400px; /* altura do texto */
  font-size: 25px; /* Tamanho da fonte */
  color: #333; /* Cor da fonte */
 }

 .botao {
  position: absolute;
  left: 978px; /* posição horizontal do botão */
  top: 395px; /* posição vertical do botão */
  
 }

 .botao button {
  border-radius: 10px 10px; /* arredondamento do botão */
  margin-right: 10px; /* Ajuste opcional para adicionar um espaço entre os botões */
  background-color: #9607a3; /* cor do botão */
  display: inline-block; /* Garante que o botão se comporte como um elemento em linha */
  font-size: 20px; /* Tamanho da fonte do texto dentro do botão */
  width: auto; /* ajusta a largura de acordo com o texto */
 }

 .video {
  display: inline-block; /* Exibe os vídeos em linha */
  width: 200px; /* Largura de cada vídeo */
  margin-right: 10px; /* Espaço entre os vídeos */
  vertical-align: top; /* Alinha os vídeos no topo */
}

.video video {
  max-width: 100%; /* Garante que o vídeo se ajuste à largura do contêiner */
  height: auto; /* Mantém a proporção da altura */
}

.videos {
  white-space: nowrap; /* Evita que os vídeos quebrem para a próxima linha */
  overflow-x: auto; /* Adiciona barra de rolagem horizontal se os vídeos não couberem */
  margin-top: 80px; /* posição vertical dos vídeos */
  margin-left: 145px; /* posição horizontal dos vídeos */
}

body {
  background-color: #000000;
}